.thu {
  display: block;
  margin: 10px auto;
  margin-bottom: 1px;
  /* width: 178px;
  height: 89px; */
  width: 160px;
  height: 80px; }

#myCarousel .carousel-caption {
  left: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.35) 20%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(20%, rgba(0, 0, 0, 0.35)));
  background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.35) 20%);
  background: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.35) 20%);
  background: -ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.35) 20%);
  background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.35) 20%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#59000000', GradientType=0);
  padding: 20px 10px 10px;
  width: 100%;
  position: absolute; }

.mainPic {
  max-width: 100%; }

/* body{

} */
.realBdy {
  border-top: 2px solid #dbd8d8;
  background: #f8f8f8; }

.realBdy:hover {
  background: #f3f3f3; }

.realHdr {
  background: #222222; }

.newsLine {
  border-bottom: 1px dashed #dbd8d8;
  margin-bottom: 3%;
  margin-top: 3%; }

.noSee {
  display: none; }

.news h3 {
  background: #080808;
  color: #ffffff;
  text-align: center; }
.news h4 {
  display: inline-block;
  margin: 1%;
  padding: 2px; }
.news .date {
  float: right;
  color: #df3531;
  margin: 1%;
  padding: 2px; }
.news .pgCon {
  margin: 1%;
  padding: 2px;
  text-indent: 5px; }
.news .pgLink {
  margin: 1%;
  padding: 2px; }

.sideBar, .hSideBar, .pgSideBar {
  border-top: 2px solid #dbd8d8;
  padding: 2px;
  background: #f8f8f8; }

.sideBar:hover, .hSideBar:hover, .pgSideBar:hover {
  padding: 2px;
  background: #f3f3f3; }

.hSideBar {
  /* height:350px; */
  text-indent: 5px; }

.carousel-control {
  margin-top: 30%; }

.brLine {
  border-right: 1px solid #dbd8d8;
  border-left: 1px solid #dbd8d8; }

#sideHd {
  margin-top: 0; }

.pgDate {
  text-align: right;
  color: #df3531;
  padding: 3px;
  margin-top: 0;
  /*     font-size: 15px; */ }

.weather h4 {
  display: inline-block;
  margin-bottom: 4%;
  padding: 5px; }
.weather #deg {
  float: right;
  color: #df3531;
  padding: 5px;
  margin: 8px 0 8px 0;
  font-size: 1.2em;
  text-align: bottom;
  border-bottom: 2px solid #e6c200; }
.weather span {
  color: #df3531; }
.weather p {
  margin: 0; }

.gap {
  padding: 0;
  margin: 0; }

.seper {
  border-top: 1px solid #dbd8d8; }

.pos {
  position: relative; }

.posB {
  position: absolute;
  bottom: 0;
  left: 0; }

.plc {
  margin: 0 0 70% 50%; }

.btnEd {
  background: #df3531;
  color: #e6c200;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px; }

.end {
  background-color: #dbd8d8; }

.topNav {
  font: 120% slab-serif; }

.woops {
  background-color: #df3531;
  height: 40%;
  width: 100%;
  margin-top: 0%;
  border-bottom: 2px solid #e6c200; }

.bdrR {
  clear: float;
  margin-left: -10px;
  padding: 10px;
  border-left: 2px solid #e6c200; }

/*# sourceMappingURL=styles.css.map */
