images/
assets/
bower_components/
css/styles.scss
css/.css.map
includes/config.inc.php
includes/edc.txt
includes/header.html
includes/sccall.html
includes/footer.html
includes/config.inc.php
includes/googleac8ed9f665a8435a.html
mysqli_connect.php
phpinfo.php
ukcphotocarousel.js
index.html
photo_viewer.js
js/jQuery-Bootstrap-Based-Carousel-with-Thumbnails-Navigation/
js/jquery-1.12.3.min.js
js/register.php
portfolio/
vendor/