<!-- # page.html - Script 9.10 -->
<div class="row">
    <div class="col-md-12">



      <!-- 3/4 body -->
      <div class="row">
       <div class="col-md-2"><h3>Topics</h3>
             <p class="sideBar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro accusamus deserunt laudantium dolor exercitationem eaque in qui commodi nesciunt accusantium, nam vitae expedita non saepe voluptate cupiditate distinctio adipisci, laboriosam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fugiat qui obcaecati suscipit corporis ad quas ea accusantium quaerat et quam amet, expedita eos minima illum, officiis dolore est repudiandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit explicabo, voluptas saepe aspernatur voluptates, omnis, aliquam facere maxime neque quisquam odit.</p></div>


        <div class="col-md-7">
        <h4 class="pgDate"><span><em><?php echo $page->getDateAdded(); ?></em></span></h4>
        <h2 class="pgHd"><?php echo $page->getTitle(); ?></h2>
        <p class="pgCon"><?php echo $page->getContent(); ?></p> 
        <?php if ($user && $user->canEditPage($page)) {
        echo '<p><a href="edit_page.php?id=' . $page->getId() . '">EDIT</a></p>';
        } ?>
</div>





<div class="col-md-3 news hidden-sm hidden-xs">


      <div class="row">
        <div class="col-md-12">
           <h3 id="sideHd">Topics</h3>
             <p class="pgSideBar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro accusamus deserunt laudantium dolor exercitationem eaque in qui commodi nesciunt accusantium, nam vitae expedita non saepe voluptate cupiditate distinctio adipisci, laboriosam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque a assumenda accusantium iusto omnis. Sed quibusdam ex nam obcaecati inventore nemo quis dolores nesciunt. Facere, doloribus, eligendi! Ipsum quasi, molestiae!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
           <h3>Topics</h3>
             <p class="sideBar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro accusamus deserunt laudantium dolor exercitationem eaque in qui commodi nesciunt accusantium, nam vitae expedita non saepe voluptate cupiditate distinctio adipisci, laboriosam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fugiat qui obcaecati suscipit corporis ad quas ea accusantium quaerat et quam amet, expedita eos minima illum, officiis dolore est repudiandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit explicabo, voluptas saepe aspernatur voluptates, omnis, aliquam facere maxime neque quisquam odit.</p>
        </div>
      </div>





</div>

</div>
</div>
