<section class="threeColumns">
    <article>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </article>
    <div class="container-fluid">
<div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <h1>Register</h1>
        <?php 
        if ($form->isSubmitted() && $form->validate()) {
            echo '<p>You are now registered!</p>';
        } else {
            echo $form;
        }
        ?>
        </div>
</div>
</div>

    
</section>