
 <em><strong><h4><?php echo $weather->city->name;?></h4></strong></em> 

 <span id="deg"><?php echo $weather->temperature;?></span></br>
  <div class="bdrR">
<p><span>Wind: </span><em><?php echo $weather1->wind->speed;?></em></p>
<p><span>Clouds: </span><em><?php echo $weather->clouds->getDescription();?></em></p>
<p><span>Rain: </span><em><?php echo $weather->precipitation->getDescription();?></em></p>
<p><span>Sunrise: </span><em><?php echo $weather->sun->rise->format('r');?></em></p>
<p><span>Sunset: </span><em><?php echo $weather->sun->set->format('r');?></em></p>
</div>
<!--  

echo 'Wind Speed: '.$weather1->wind->speed;
echo "<br />\n";

echo 'Direction: '.;
echo "<br />\n";
echo 'Sunrise: '.$weather->sun->rise->format('r');
echo "<br />\n";
echo 'Sunset: '.$weather->sun->set->format('r');
echo "<br />\n";*/ -->



<!--  " <h4>{$weather->city->name;}</h4></a><em><strong><span class=\"date\">{$page->getDateAdded()}</span></strong></em>
               <p class=\"pgCon\">{$page->getIntro()}</p>
               <p class=\"pgLink\"><a href=\"page.php?id={$page->getId()}\">read more here...</a></p>"; -->
             